%h1 Listing importers

%table.table.table-bordered
  %thead
    %tr
      %th Data dir
      %th Backup dir
      %th Error dir
      %th File delete
      %th Importer type
      %th Index name
      %th
      %th
  %tbody
    - @importers.each do |importer|
      %tr
        %td= importer.data_dir
        %td= importer.backup_dir
        %td= importer.error_dir
        %td= importer.file_delete
        %td= importer.importer_type
        %td= importer.index_name
        %td= link_to 'Run', run_importer_path(importer)
        %td
          = link_to 'Show', importer
          = link_to 'Edit', edit_importer_path(importer)
          = link_to 'Destroy', importer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Importer', new_importer_path
