%br
.row
  .form-group
    = form_tag searchs_path,class: "form-inline", method: :get do
      .col-md-6.col-md-offset-4
        = text_field_tag :query, params[:query], class: "form-control input-lg"
        = button_tag class: "btn btn-default btn-lg", type: 'submit', name: nil do
          = fa_icon 'search'
%br
- unless @search.blank?
  .row
    .col-md-8.col-md-offset-1
      %p.small
        = "The request returned #{@search.total_hits} results (#{@search.total_time} seconds)"
      = paginate @search.results
  - @search.results.each do |doc|
    .row
      .col-md-8.col-md-offset-1
        = link_to document_path( get_doc_id(doc) ) do
          %h2
            = result_title(doc)
        .description
          %b category :
          = doc['_index']
          %b type :
          = doc['_type']

        field
        %b=doc.highlight.first[0]
        match:
        %b=doc.highlight.first[1].first
  .row
    .col-md-8.col-md-offset-1
      = paginate @search.results






